/* Write your CSS code here. */
.bg-container {
  background-image: linear-gradient(to right, #ffeeee, #ffebeb, #ffc0bb);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.content-container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-width: 60%;
}
.feedback-question-para {
  font-size: 24px;
  color: #0f172a;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
